.table-row{
    align-items: center;
}

.child_footer{
    width: 350px;
    margin: 20px;
}


footer div h2{
    letter-spacing: 5px;
    color: grey;
}

.fa-twitter
{
    color: cornflowerblue;
}

.fa-facebook-f{
    color: blue;
}


li{
    list-style-type: none;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 5px;
}
